body {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    color: #373737;
    background-color: #797979;
}

.main {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px !important;
    width: 100%;
    max-width: 805px;
}

.main__title {
    margin-bottom: 25px;
    font-family: inherit;
    font-weight: normal;
    font-size: 36px;
    color: #f0ad4e;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 830px;
}

.container form {
    padding: 10px 5px 25px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

.container > form > legend {
    font-size: 21px;
    color: #f0ad4e;
}

.control-group {
    display: block;
    font-family: inherit;
    font-weight: normal;
    color: #594540 !important;
}

.control-label {
    margin-right: 10px;
    float: left;
    width: 140px;
    color: #594540;
}

.control-label[for="first-course"],
    .control-label[for="second-course"],
        .control-label[for="beverage"],
            .control-label[for="bread"] {
                margin-top: 5px;
}

.form-control {
    margin-left: 0;
    width: 180px !important;
}

#control-group__add-submit {
    margin-top: 20px;
    margin-left: -150px;
}

.salad, .first-course,
    .second-course, .beverage, .bread {
        position: relative;
        margin-top: 5px;
        display: block;
}

.cesar-salad select[id="cesar-salad"] {
    float: right;
    margin-top: -37px;
    margin-right: 121px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

.cesar-salad-before {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.second-course__degree-roasting select[id="degree-roasting"] {
    float: right;
    margin-top: -35px;
    margin-right: 137px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

.degree-roasting-before {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.second-course__garnish {
    margin-top: 13px;
    display: none;
}

.second-course__garnish label:nth-child(1) {
    margin-top: 4px;
    font-style: italic;
    font-size: 13px;
}

.second-course__garnish select {
    color: #f0ad4e;
    font-style: italic;
    font-size: 12px;
}

.beverage-juice {
    position: relative;
    display: none;
}

.beverage-juice select[id="beverage-juice"] {
    float: right;
    margin-top: -36px;
    margin-right: 172px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-juice {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.beverage-coffee {
    position: relative;
    display: none;
}

.beverage-coffee select[id="beverage-coffee"] {
    float: right;
    margin-top: -36px;
    margin-right: 156px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-coffee {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.beverage-tea {
    position: relative;
    display: none;
}

.beverage-tea select[id="beverage-tea"] {
    float: right;
    margin-top: -36px;
    margin-right: 168px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-tea {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.sugar {
    margin-top: 10px;
    display: none;
}

.sugar label[for="checkboxes_sugar"] {
    margin-left: -14px;
    margin-right: 36px;
    font-style: italic;
    font-size: 13px;
}

.contact {
    margin-top: 40px;
}

.contact legend:nth-child(1) {
    font-size: 16px;
}

#control-group__phone,
    #control-group__family {
        margin-top: 7px;
    }


.heading {
    margin-top: 30px;
    font-size: 22px;
}

.table-order {
    margin-top: 10px;
}

.modal-header h5 + b {
    color: red;
}

.table-bordered, .heading {
    display: none;
}

.table-bordered h3 {
    margin-top: 5px;
    margin-right: 12px;
    float: left;
}

.table-bordered p {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 16px;
    color: #f0ad4e;
}

.update__link {
    float: right;
    opacity: 0;
}

/* Адаптивный дизайн */
@media screen and (min-width: 320px) and (max-width:767px) {

    .cesar-salad select[id="cesar-salad"] {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }

    .second-course__degree-roasting select[id="degree-roasting"] {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }

    .beverage-juice select[id="beverage-juice"] {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }

    .beverage-coffee select[id="beverage-coffee"] {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }

    .beverage-tea select[id="beverage-tea"] {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }

    .table-bordered th {
        font-size: 10px;
    }

    .table-bordered td {
        font-size: 10px;
    }

    .cesar-salad-before, .degree-roasting-before, .beverage-before-juice,
        .beverage-before-coffee, .beverage-before-tea {
            margin-top: 7px;
            margin-left: 2px;
            font-size: 10px;
            font-size: 13px;
            font-weight: bolder;
            font-style: italic;
    }

}

@media screen and (min-width: 480px) and (max-width:639px) {

    .cesar-salad select[id="cesar-salad"], .second-course__degree-roasting select[id="degree-roasting"],
        .beverage-juice select[id="beverage-juice"], .beverage-coffee select[id="beverage-coffee"],
            .beverage-tea select[id="beverage-tea"] {
                margin-left: 151px;
    }

    .table-bordered th {
        font-size: 11px;
    }

    .table-bordered td {
        font-size: 11px;
    }

    .cesar-salad-before, .degree-roasting-before, .beverage-before-juice,
        .beverage-before-coffee, .beverage-before-tea {
            margin-left: 151px;
    }

}


@media screen and (min-width: 640px) and (max-width:767px) {

    .cesar-salad select[id="cesar-salad"], .second-course__degree-roasting select[id="degree-roasting"],
        .beverage-juice select[id="beverage-juice"], .beverage-coffee select[id="beverage-coffee"],
            .beverage-tea select[id="beverage-tea"] {
                margin-left: 151px;
    }

    .table-bordered th {
        font-size: 12px;
    }

    .table-bordered td {
        font-size: 12px;
    }

    .cesar-salad-before, .degree-roasting-before, .beverage-before-juice,
        .beverage-before-coffee, .beverage-before-tea {
            margin-left: 151px;
    }

}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .cesar-salad select[id="cesar-salad"] {
        margin-right: 39.5px;
    }

    .second-course__degree-roasting select[id="degree-roasting"] {
        margin-right: 56px;
    }

    .beverage-juice select[id="beverage-juice"] {
        margin-right: 90px;
    }

    .beverage-coffee select[id="beverage-coffee"] {
        margin-right: 75px;
    }

    .beverage-tea select[id="beverage-tea"] {
        margin-right: 88px;  
    }

    .table-bordered th {
        font-size: 13px;
    }

    .table-bordered td {
        font-size: 13px;
    }

}