body {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    color: #373737;
    background-color: #797979;
}

.main {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px !important;
    width: 100%;
    max-width: 805px;
}

.main__title {
    margin-bottom: 25px;
    font-family: inherit;
    font-weight: normal;
    font-size: 36px;
    color: #f0ad4e;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 830px;
}

.container form {
    padding: 10px 5px 25px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

.container > form > legend {
    font-size: 21px;
    color: #f0ad4e;
}

.control-group {
    display: block;
    font-family: inherit;
    font-weight: normal;
    color: #594540 !important;
}

.control-label {
    margin-right: 10px;
    float: left;
    width: 140px;
    color: #594540;
}

.control-label[for="first-course"],
    .control-label[for="second-course"],
        .control-label[for="beverage"],
            .control-label[for="bread"] {
                margin-top: 5px;
}

.form-control {
    margin-left: 0;
    width: 180px !important;
}

#control-group__add-submit {
    margin-top: 20px;
    margin-left: -150px;
}

.salad, .first-course,
    .second-course, .beverage, .bread {
        position: relative;
        margin-top: 5px;
        display: block;
}

.cesar-salad select[id="cesar-salad"] {
    float: right;
    margin-top: -37px;
    margin-right: 121px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

.cesar-salad-before {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.second-course__degree-roasting select[id="degree-roasting"] {
    float: right;
    margin-top: -35px;
    margin-right: 137px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
}

.degree-roasting-before {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.second-course__garnish {
    margin-top: 13px;
    display: none;
}

.second-course__garnish label:nth-child(1) {
    margin-top: 4px;
    font-style: italic;
    font-size: 13px;
}

.second-course__garnish select {
    color: #f0ad4e;
    font-style: italic;
    font-size: 12px;
}

.beverage-juice {
    position: relative;
    display: none;
}

.beverage-juice select[id="beverage-juice"] {
    float: right;
    margin-top: -36px;
    margin-right: 172px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-juice {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.beverage-coffee {
    position: relative;
    display: none;
}

.beverage-coffee select[id="beverage-coffee"] {
    float: right;
    margin-top: -36px;
    margin-right: 156px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-coffee {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.beverage-tea {
    position: relative;
    display: none;
}

.beverage-tea select[id="beverage-tea"] {
    float: right;
    margin-top: -36px;
    margin-right: 168px;
    color: #f0ad4e;
    font-size: 12px;
    font-style: italic;
}

.beverage-before-tea {
    margin-top: -25px;
    margin-left: 340px;
    color: #594540;
    font-size: 12px;
}

.sugar {
    margin-top: 10px;
    display: none;
}

.sugar label[for="checkboxes_sugar"] {
    margin-left: -14px;
    margin-right: 36px;
    font-style: italic;
    font-size: 13px;
}

.contact {
    margin-top: 40px;
}

.contact legend:nth-child(1) {
    font-size: 16px;
}

#control-group__phone,
    #control-group__family {
        margin-top: 7px;
    }


.heading {
    margin-top: 30px;
    font-size: 22px;
}

.table-order {
    margin-top: 10px;
}

.modal-header h5 + b {
    color: red;
}

.table-bordered, .heading {
    display: none;
}

.table-bordered h3 {
    margin-top: 5px;
    margin-right: 12px;
    float: left;
}

.table-bordered p {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 16px;
    color: #f0ad4e;
}

.update__link {
    float: right;
    opacity: 0;
}

.popup__cnt {
    display: inline-block;
    width: 270px;
    height: 144px;
    margin-left: 10px;
    font-size: 12px;
    font-family: inherit;
    color: #594540;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    margin-right: 18px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #EFCB00; border-radius: 5px;
}

.modal-title {
    font-family: inherit;
    font-weight: normal;
    font-size: 20px;
    color: #594540 !important;
}